%div.nav{:align=>"right"}
  %form{:action=>"search", :method=>"post"}
    -if @prev > -1
      %a{:href=>"#{@prev}"}
        %span.page
          <
    %span
      %input{:type=>"search", :name=>"search", :results=>"5"}
    %span
      %input{:type=>"submit", :value=>"?"}
    -if @next != ''
      %a{:href=>"#{@next}"}
        %span.page
          >
