%div.nav{:align=>"right"}
  %form{:action=>"search", :method=>"post"}
    %span
      %input{:type=>"search", :name=>"search", :results=>"5"}
    %span
      %input{:type=>"submit", :value=>"search"}
