body {
  /*background: url("/images/bg_hdr.gif") repeat-x scroll 0 0 transparent;*/
  background-color: #f7f6f3;
  color: #110000;
  font-family: "Cabin";
  font-size: 1.5em;
  }

a {
  &:link { text-decoration: none;}
  &:visited { text-decoration: none;}
  &:active { text-decoration: none;}
  &:hover{ text-decoration: none;}
  }
  
.external {
  font-size:.6em;
  &:hover{ text-decoration: underline;}
}

h1 {
  line-height: 1.2em;
  font-size: 1.5em;
}

.link {
  border-bottom:1px solid black;
  padding-top:.5em;
  padding-bottom:.5em;
  &:hover{ background-color: #CEC8B5;}
}


p {
  line-height: 1.2em;
}
.nav {
}
.datesec {
  padding-top:1em;
  border-bottom: 1px dashed #000000;
}

.paging {
  padding-top:.5em;
}

.page {
  background-color:#444444;
  color:#FFFFFF;
  padding-left:.4em;
  padding-right:.4em;
  margin-right:.6em;
  border-radius:.4em;
}

.page a {
  &:link { text-decoration: none;}
  &:visited { text-decoration: none;}
  &:active { text-decoration: none;}
  &:hover{ text-decoration: none;;}
  }

.header {
  padding-right: .25em;
  background-color: #44973c;
  padding-bottom:.4em;
  padding-left:.5em;
  }

.header a {
  color: #0D2E09;
  margin-left: .2em;
  margin-right: .2em;
  }

.main {
}

.artist {
  font-size: 1.8em;
}

.title {
  font-size: 1.5em;
}

.player {
  position:absolute;
  top:180px;
  left:180px;
  z-index:4;
}

.albumimg {
  z-index:1;
  width: 420px;
  }

.desc {
  width: 15em; }

/*
.signin-tw {
  margin-top: 5px;
  display: block;
  height: 22px;
  background: url("/images/twitter_signin.png") left center no-repeat;
  text-indent: -99999px;
  &:hover { background-position: 0 0; } 
}
*/

.signin-fb {
  margin-top: 5px;
  display: block;
  height: 22px;
  background: url("/images/facebook_signin.png") left center no-repeat;
  text-indent: -99999px; 
  &:hover { background-position: 0 0; } 
}

@media handheld, only screen and (max-width: 480px) {
  body {
    margin-bottom: 30px; }
              
  .player {
    position:absolute;
    top:100px;
    left:20%;
    z-index:4;
  }
  .social {
    position: inherit;
    width: 100%; } 

  .cc {
    display: none; }
                                          
  .ccbottom {
    display: block;
    text-align: center; }
                                                          
  .ccbottom img {
    opacity: 1; }
                                                                      
  .intro {
    margin-top: 180px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px; }
                                                                                              
  .details {
    padding-top: 25px;
    padding-bottom: 20px; }
                                                                                                              
  .markup {
    padding-top: 55px; }
                                                                                                                          
  .fb, twitter {
    float: left; }
                                                                                                                                      
  .introcopy {
    clear: both; }

  .header .logo {
    margin: 0 auto; } 
    
  #download { 
    display: none; }

  .influads_block {
    position: inherit;
    width: 100%;
    margin: 35px 0 20px 0;
  }

  .influads_link_img {
    display: inline;
    padding-top: 0;
    padding-right: 0;
    position: relative;
    padding-bottom: 10px;
  }

  .influads_text {
    padding-top: 0;
  }

  .paypal, #resize, .columns {
    display: none;
  } 
}
