body {
  height: 100%;
}

.active {
  font-weight: bold;
}

.item { 
  width: 25%; 
  background-color: #f0f0f0;
  padding: 1em;
  margin: .2em;
  border-radius:5px;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.view {
 height: 800px;
 overflow:scroll;
}

.article {
  border-bottom: 1px solid #f0f0f0;
  font-size: 1.4em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search {
  width: 250px;
}

.meta {
  padding-left: .2em;
  color: #a0a0a0;
  font-size: .6em;
}
