-articles.each_with_index do |article, i|
  .input-group.input-group-lg
    %span.input-group-addon
      =i+1
    %a.form-control{href:"#{article.source_urls["content"]}", title:"#{article.title}"}
      =article.title


