-articles.each_with_index do |article, i|
  .input-group.input-group-lg
    %span.input-group-addon
      =i+1
    %a.form-control{href:"#{article.content.first.url}", title:"#{article.title}"}
      =article.title


