#sources
  -sources.sort_by{|source| source.title || "" }.each do |source|
    %a{href:"#{url_for("/source/#{source.id}/current")}"}
      .item
        =source.title
%hr
.new
  .link     
    %a{href: "#{url_for("/sources")}"}
      Sources
