<!DOCTYPE html>
%html
  %head
    %title#title
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Cabin", :type => "text/css", :media => "all"}
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :type => "text/css"}
    <!--%script{type: "text/javascript", src: "#{url_for "/js/masonry-horizontal.js"}"}-->
  %body
    %header.navbar.navbar-static-top{role:"banner"}
      %div.container
        %div.navbar-header
          %button{class:"navbar-toggle", type:"button",data:{toggle:"collapse",target:".pg-navbar-collapse"}}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse.pg-navbar-collapse{role:"navigation"}
          %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "GET"}
            .form-group
              %input.form-control{type: "TEXT", id: "q", name: "q", autofocus: true}
            %span.navbar-info
    %div.container#content
      =yield
      %div.row
    %hr
    %div.container#footer
      A 
      %a{href:"http://patf.net"}
        patf
      joint
