%form{method: "POST", action:"#{url_for("/source/new")}"}
  %select{name:"type"}
    %option{value:"rss_feed"}
      Rss Feed
  .input-group.input-group-lg
    %span.input-group-addon
      Title
    %input.form-control{type:"text",name:"title"}
  .input-group.input-group-lg
    %span.input-group-addon
      URL
    %input.form-control{type:"text",name:"url"}
  .submit
    %input.btn.btn-default.btn-lg{type:"Submit", value:"Save"}
